.Menu{
    position: fixed;
    width: 98%;
    padding: 1%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: end;
    background: rgb(202,63,251);
    background: radial-gradient(circle, rgba(202,63,251,1) 0%, #4a2aff 100%);
    box-shadow: 10px 10px 85px -1px rgba(0,0,0,0.75);
}
.Menu a{
    margin-right: 5%;
    font-size: 1.3em
}

.Main{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apresentacao{
    margin: 10% 0% 9% 7%;
    display: flex;
}

.texto_apresentacao{
    width: 55%;
    margin-top: 8%;
}

.texto_apresentacao h1{
    margin-bottom: 2%;
    color: #8400ff ;
}

.icons img{
    width: 24px;
    height: auto;
    margin: 5% 2% 3% 0;
    margin-top: 5%;
}

.eu{
    width: 35%;
    height: 35%;
    padding: 0.5%;
}