*{
    font-family: "Quicksand", sans-serif;
}

body{
    background-color: black;
}

.principal{
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
}

.principal2{
    background-color: black;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 2%;
    padding: 2%;
    width: 92%;
    height: 800px;
}

.choice{
    display: flex;
    width: 100%;
}

.pessoal{
    cursor: pointer;
    background: rgb(251,63,244);
    background: radial-gradient(circle, rgba(251,63,244,1) 0%, rgba(255,42,42,1) 100%);
    font-size: 2em;
    padding: 5%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 40%;
    margin: 3%;
    border-radius: 20px;
    text-align: center;
    font-weight: bolder;
    transition: transform 0.5s;
}

.pessoal:hover{
    transform: scale(1.1);
}

.profissional{
    cursor: pointer;
    background: rgb(202,63,251);
    background: radial-gradient(circle, rgba(202,63,251,1) 0%, rgba(74,42,255,1) 100%);
    font-size: 2em;
    padding: 5%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 40%;
    margin: 3%;
    border-radius: 20px;
    text-align: center;
    font-weight: bolder;
    transition: transform 0.5s;
}

.profissional:hover{
    transform: scale(1.1);
}

@media (width <= 768px) {
    .choice{
        justify-content: center;
        flex-wrap: wrap;
        font-size: 0.8em;
    }

    .principal{
        margin-top: 30%;
    }

    .principal2{
        height: 800px;
    }

    .pessoal{
        width: 90%;
    }

    .profissional{
        width: 90%;
    }
}
